* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #fafafb;
    --black: #333;
    --hover: #c0672c;
    
}

html {
    background-color: var(--white);
    /*background: linear-gradient(360deg, #3525af67, #c46cd667, var(--white) 50% );*/
}

body {
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

.container {
    width: 400px;
    height: 600px;
    margin: 0 auto;
}

/*PERFIL*/

.perfil h1{
    background: -webkit-linear-gradient(0deg, #C56CD6, #3425AF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 40px;
    text-align: center;
    font-size: 40px;
}

.perfil h3 {
    color: var(--black);
    padding-bottom: 5px;
    text-align: center;
}

.perfil span {
    color: var(--black);
    margin-bottom: 5px;
}

#fecha {
    color: var(--black);
    padding-top: 20px;
    padding-bottom: 50px;
}

/* AGREGAR TAREA */

.agregar-tarea {
    background-color: var(--white);
    border: lightgray solid 2px;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    margin-bottom: 35px;
}

.agregar-tarea input {
    padding: 5px 5px;
    width: 100%;
    height: 100%;
    border: 0px solid;
    background-color: transparent;

}

.agregar-tarea i {
    font-size: 30px;
    color: lightgray;
    

}

.agregar-tarea i:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.agregar-tarea input {
    font-size: 1.1rem;
    color: var(--black);
}

.agregar-tarea input:focus {
    outline: none;
    height: 100%;
    width: 100%;
}

.agregar-tarea input::placeholder {
    color: rgba( 0, 0, 0, 0.3);
    font-size: 1.1rem;
}


/* SECCION TAREA */

.seccion-tarea h3 {
    color: var(--black);
    padding-bottom: 5px;
    text-align: center;
}

.seccion-tarea li {
    display: flex;
    background-color: var(--black);
    border-radius: 5px;
    height: 60px;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

}

.seccion-tarea i {
    font-size: 25px;
    color: var(--white);

}

.seccion-tarea i:hover {
    color: var(--hover);
    cursor: pointer;
}

.seccion-tarea > ul p {
    font-size: 1.2rem;
    color: var(--white);

}

.line-through {
    text-decoration: line-through;
}

